<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Runaway with me - Site for city tours agencies">
        <title>{% block title %}Runaway with me{% endblock %}</title>

        <!-- Favicons-->
        <link rel="shortcut icon" href="{{ asset('img/favicon.ico')}}" type="image/x-icon'">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        {% endblock %}
    </head>
    <body>
    <header>
        {% block top_header %}{% endblock %}
    </header>
    <!-- /Sign In Popup -->
    {% block body %}{% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-3.5.1.slim.min.js')}}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    {% endblock %}
    </body>
</html>
