<!DOCTYPE html>
<html>
    <head>
        <!-- Page Title -->
        <title>Runaway With Me - {{ subTitle }}</title>

        <!-- Meta Tags -->
        <meta charset="utf-8">
        <meta name="keywords" content="" />
        <meta name="description" content="Runaway With Me - Travel, Tour Booking ">
        <meta name="author" content="SoapTheme">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ asset('images/favicon.ico') }}" type="image/x-icon">

        <!-- Theme Styles -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css')}}">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/animate.min.css')}}">

        <!-- Current Page Styles -->
        <link rel="stylesheet" type="text/css" href="{{ asset('components/revolution_slider/css/settings.css')}}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('components/revolution_slider/css/style.css')}}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ asset('components/jquery.bxslider/jquery.bxslider.css')}}" media="screen" />

        <!-- Main Style -->
        <link id="main-style" rel="stylesheet" href="{{ asset('css/style.css')}}">

        <!-- Updated Styles -->
        <link rel="stylesheet" href="{{ asset('css/updates.css')}}">

        <!-- Responsive Styles -->
        <link rel="stylesheet" href="{{ asset('css/responsive.css')}}">
    </head>
    <body>
    <h1 class="logo navbar-brand" id="top_nav_bar"><a title="rwm - home" href="{{ path('index') }}"><img alt="" src="{{ asset('images/logo.png') }}"></a></h1>
    <div id="page-wrapper">
        <header id="header" class="navbar-static-top style2">
            <div class="topnav">
                <div class="container">
                    <nav id="main-menu" role="navigation">
                        <ul class="menu">
                            <li class="menu-item-has-children">
                                <a href="{{ path('index') }}">Home</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="{{ path('hotels_list', {'viewType':'list'}) }}">Hotels</a>
                            </li>
                        </ul>
                    </nav>

                    {% if app.request.attributes.get('_route') != 'app_login' %}
                        <ul class="quick-menu pull-right">
                            {% if not user %}
                            <li><a id="login-popup" href="#rwm-login" class="soap-popupbox">LOGIN</a></li>
                            <li><a href="#rwm-signup" class="soap-popupbox">SIGNUP</a></li>
                            {% else %}
                                <li><a href="{{ path('user_account') }}">ACCOUNT</a></li>
                                <li><a href="{{ path('app_logout') }}">LOGOUT</a></li>
                            {% endif %}
                        </ul>
                    {% endif %}

                </div>
            </div>
            <div class="main-header">
                <a href="#mobile-menu-01" data-toggle="collapse" class="mobile-menu-toggle">
                    Mobile Menu Toggle
                </a>

                <div class="container">
                    <h1 class="logo navbar-brand">
                        <a href="{{ path('index') }}" title="Runaway With Me - home">
                            <img src="{{ asset('images/logo.png') }}" alt="Runaway With Me" />
                        </a>
                    </h1>

                    <div class="header-search col-sm-offset-4 col-md-offset-2 hidden-mobile">
                        {{ form_start(searchForm) }}
                            <div class="col-xs-6">
                                {{ form_row(searchForm.name) }}
                            </div>
                            <div class="col-xs-6">
                                <div class="col-xs-3">
                                    <div class="datepicker-wrap transparent">
                                        {{ form_row(searchForm.date_from) }}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="datepicker-wrap transparent">
                                        {{ form_row(searchForm.date_to) }}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="selector style1 guest">
                                        {{ form_row(searchForm.guests_number) }}
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    {{ form_row(searchForm.search) }}
                                </div>
                            </div>
                        {{ form_end(searchForm) }}
                    </div>
                </div>

                <nav id="mobile-menu-01" class="mobile-menu collapse">
                    <ul id="mobile-primary-menu" class="menu">
                        <li>
                            <a href="{{ path('index') }}">Home</a>
                            <a href="{{ path('hotels_list', {'viewType':'list'}) }}">Hotels</a>
                        </li>
                    </ul>
                </nav>
            </div>
            {% if not user %}
            <div id="rwm-signup" class="rwm-signup-box rwm-box">
                <div class="login-social">
                    <a href="{{ path('connect_facebook_start') }}" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <div class="simple-signup">
                    <div class="text-center signup-email-section">
                        <a href="#" class="signup-email"><i class="soap-icon-letter"></i>Sign up with Email</a>
                    </div>
                    <p class="description">By signing up, I agree to Runaway With Me's Terms of Service, Privacy Policy, Guest Refund policy, and Host Guarantee Terms.</p>
                </div>
                <div class="email-signup">
                    <form>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="first name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="last name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-text full-width" placeholder="email address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="input-text full-width" placeholder="confirm password">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Tell me about Runaway With Me news
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="description">By signing up, I agree to Runaway With Me's Terms of Service, Privacy Policy, Guest Refund Policy, and Host Guarantee Terms.</p>
                        </div>
                        <button type="submit" class="full-width btn-medium">SIGNUP</button>
                    </form>
                </div>
                <div class="seperator"></div>
                <p>Already a Runaway With Me member? <a href="#rwm-login" class="goto-login soap-popupbox">Login</a></p>
            </div>
            <div id="rwm-login" class="rwm-login-box rwm-box">
                <div class="login-social">
                    <a href="{{ path('connect_facebook_start') }}" class="button login-facebook"><i class="soap-icon-facebook"></i>Login with Facebook</a>
                </div>
                <div class="seperator"><label>OR</label></div>
                <form>
                    <div class="form-group">
                        <input type="text" class="input-text full-width" placeholder="email address">
                    </div>
                    <div class="form-group">
                        <input type="password" class="input-text full-width" placeholder="password">
                    </div>
                    <div class="form-group">
                        <a href="#" class="forgot-password pull-right">Forgot password?</a>
                        <div class="checkbox checkbox-inline">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
                    </div>
                </form>
                <div class="seperator"></div>
                <p>Don't have an account? <a href="#rwm-signup" class="goto-signup soap-popupbox">Sign up</a></p>
            </div>
            {% endif %}
        </header>
        <div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title">{{ subTitle }}</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a href="{{ path('index') }}">HOME</a></li>
                    <li class="active">{{ subTitle }}</li>
                </ul>
            </div>
        </div>
        <section id="content">
            <div class="container block">
                <div class="row">
                    <div id="main" class="col-md-12">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer" class="style_rwm">
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h2>Discover</h2>
                            <ul class="discover triangle hover row">
                                <li class="col-xs-6"><a href="{{ path('discover_safety') }}">Safety</a></li>
                                <li class="col-xs-6"><a href="{{ path('discover_about') }}">About</a></li>
                                <li class="col-xs-6"><a href="{{ path('discover_contact') }}">Contact</a></li>
                                <li class="col-xs-6"><a href="{{ path('discover_policy') }}">Policies</a></li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h2>About Runaway With Me</h2>
                            <p>We attribute Runaway With Me's success to our company culture built on human learning and emotional intelligence. And based on that, we understand that no matter the location, the most important part that builds a travelling experience is who you build it with.</p>
                            <br />
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> +40 727 85 66 20</span>
                                <br />
                                <a href="mailto:puiu_mihai.valentin@yahoo.com" class="contact-email">puiu_mihai.valentin@yahoo.com</a>
                            </address>
                            <ul class="social-icons clearfix">
                                <li class="facebook"><a title="facebook" href="https://www.facebook.com/mihaivalentin.puiu" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="linkedin" href="https://www.linkedin.com/in/mihai-valentin-puiu-35b391b1/" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom gray-area">
                <div class="container">
                    <div class="logo pull-left">
                        <a href="{{ path('index') }}" title="Runaway With Me - home" style="height: 92px !important; width: auto; margin-top: -31px">
                            <img src="{{ asset('images/logo.png') }}" alt="Runaway With Me" style="height: 98px!important; width: auto" />
                        </a>
                    </div>
                    <div class="pull-right">
                        <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
                    </div>
                    <div class="copyright pull-right">
                        <p>&copy; 2020 Runaway With Me - Puiu Mihai Valentin</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% block body %}{% endblock %}

    {% block javascripts %}
        <!-- Javascript -->
        <script type="text/javascript" src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.noconflict.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/modernizr.2.7.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-migrate-1.2.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.placeholder.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-ui.1.10.4.min.js') }}"></script>

        <!-- Twitter Bootstrap -->
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

        <!-- load revolution slider scripts -->
        <script type="text/javascript" src="{{ asset('components/revolution_slider/js/jquery.themepunch.tools.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('components/revolution_slider/js/jquery.themepunch.revolution.min.js') }}"></script>

        <!-- load BXSlider scripts -->
        <script type="text/javascript" src="{{ asset('components/jquery.bxslider/jquery.bxslider.min.js') }}"></script>

        <!-- parallax -->
        <script type="text/javascript" src="{{ asset('js/jquery.stellar.min.js') }}"></script>

        <!-- waypoint -->
        <script type="text/javascript" src="{{ asset('js/waypoints.min.js') }}"></script>

        <!-- load page Javascript -->
        <script type="text/javascript" src="{{ asset('js/theme-scripts.js') }}"></script>
    {% endblock %}
    </body>
</html>
