{% extends 'hotels/hotels_list.html.twig' %}
{% block hotels_list_view %}
    <div class="hotel-list listing-style3 hotel">
        {% for hotel in hotels %}
            <article class="box">
                <figure class="col-sm-5 col-md-4">
                    <a title="" href="{{ path('slideshow_popup') }}" class="hover-effect popup-gallery"><img width="270" height="160" alt="" src="{{ asset(hotel.hotelPhotos.first.photoFilename) }}"></a>
                </figure>
                <div class="details col-sm-7 col-md-8">
                    <div>
                        <div>
                            <h4 class="box-title">{{ hotel.name }}<small><i class="soap-icon-departure yellow-color"></i> {{ hotel.city.name }}, {{ hotel.city.country.name }}</small></h4>
                            <div class="amenities">
                                <i class="soap-icon-wifi circle"></i>
                                <i class="soap-icon-fitnessfacility circle"></i>
                                <i class="soap-icon-fork circle"></i>
                                <i class="soap-icon-television circle"></i>
                            </div>
                        </div>
                        <div>
                            <div class="five-stars-container">
                                <span class="five-stars" style="width: 80%;"></span>
                            </div>
                            <span class="review">{{ hotel.reviews|length }} reviews</span>
                        </div>
                    </div>
                    <div>
                        <p>{{ hotel.shortDescription }}</p>
                        <div>
                            <span class="price"><small>FROM</small>${{ hotel.lowestPriceRoom.price }}</span>
                            <a class="button btn-small full-width text-center" title="" href="{{ path('hotel_detailed', {'id':hotel.id}) }}">SELECT</a>
                        </div>
                    </div>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock %}