{% extends 'base/base.html.twig' %}
{% block content %}
    <div id="main" class="col-md-9">
        <div class="tab-container style1" id="hotel-main-content">
            <ul class="tabs">
                <li class="active"><a data-toggle="tab" href="#photos-tab">photos</a></li>
                <li><a data-toggle="tab" href="#map-tab">map</a></li>
                <li><a data-toggle="tab" href="#steet-view-tab">street view</a></li>
                <li class="pull-right"><a class="button btn-small yellow-bg white-color" href="{{ path('discover_safety') }}">TRAVEL GUIDE</a></li>
            </ul>
            <div class="tab-content">
                <div id="photos-tab" class="tab-pane fade in active">
                    <div class="photo-gallery style1" data-animation="slide" data-sync="#photos-tab .image-carousel">
                        <ul class="slides">
                            {% for photo in hotel.hotelPhotos %}
                                <li><img src="{{ asset(photo.photoFilename) }}" alt="" /></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="image-carousel style1" data-animation="slide" data-item-width="70" data-item-margin="10" data-sync="#photos-tab .photo-gallery">
                        <ul class="slides">
                            {% for photo in hotel.hotelPhotos %}
                                <li><img src="{{ asset(photo.photoFilename) }}" alt="" /></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="map-tab" class="tab-pane fade">
                </div>
                <div id="steet-view-tab" class="tab-pane fade" style="height: 500px;">
                </div>
                <div id="calendar-tab" class="tab-pane fade">
                    <label>SELECT MONTH</label>
                    <div class="col-sm-6 col-md-4 no-float no-padding">
                        <div class="selector">
                            <select class="full-width" id="select-month">
                                <option value="2014-6">June 2014</option>
                                <option value="2014-7">July 2014</option>
                                <option value="2014-8">August 2014</option>
                                <option value="2014-9">September 2014</option>
                                <option value="2014-10">October 2014</option>
                                <option value="2014-11">November 2014</option>
                                <option value="2014-12">December 2014</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="calendar"></div>
                            <div class="calendar-legend">
                                <label class="available">available</label>
                                <label class="unavailable">unavailable</label>
                                <label class="past">past</label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p class="description">
                                The calendar is updated every five minutes and is only an approximation of availability.
                                <br /><br />
                                Some hosts set custom pricing for certain days on their calendar, like weekends or holidays. The rates listed are per day and do not include any cleaning fee or rates for extra people the host may have for this listing. Please refer to the listing's Description tab for more details.
                                <br /><br />
                                We suggest that you contact the host to confirm availability and rates before submitting a reservation request.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="hotel-features" class="tab-container">
            <ul class="tabs">
                <li class="active"><a href="#hotel-description" data-toggle="tab">Description</a></li>
                <li><a href="#hotel-availability" data-toggle="tab">Availability</a></li>
                <li><a href="#hotel-reviews" data-toggle="tab">Reviews</a></li>
                <li><a href="#hotel-write-review" data-toggle="tab">Write a Review</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="hotel-description">
                    <div class="intro table-wrapper full-width hidden-table-sms">
                        <div class="col-sm-5 col-lg-4 features table-cell">
                            <ul>
                                <li><label>hotel type:</label>{{ hotel.overallRating|round }} star</li>
                                <li><label>Country:</label>{{ hotel.city.country.name }}</li>
                                <li><label>City:</label>{{ hotel.city.name }}</li>
                            </ul>
                        </div>
                        <div class="col-sm-7 col-lg-8 table-cell testimonials">
                            <div class="testimonial style1">
                                <ul class="slides ">
                                    {% for review in hotel.lastThreeReviews %}
                                    <li>
                                        <p class="description">{{ review.description }}</p>
                                        <div class="author clearfix">
                                            <a href="#"><img src="{{ asset('images/tourists.png') }}" alt="" width="74"/></a>
                                            <h5 class="name">{{ review.reviewerName }}<small>{{ review.created|format_datetime }}</small></h5>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="long-description">
                        <h2>About {{ hotel.name }}</h2>
                        <p>
                            {{ hotel.fullDescription|nl2br|nl2br }}
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade" id="hotel-availability">
                    {{ form_start(roomSearchForm) }}
                        <div class="update-search clearfix">
                            <div class="col-md-6">
                                <h4 class="title"><a id="checking_details">When</a></h4>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label class="visible-md visible-lg">Check In</label>
                                        <div class="datepicker-wrap">
                                            {{ form_row(roomSearchForm.date_from) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <label class="visible-md visible-lg">Check Out</label>
                                        <div class="datepicker-wrap">
                                            {{ form_row(roomSearchForm.date_to) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <h4 class="title">Who</h4>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <label class="visible-md visible-lg">Guests</label>
                                        <div class="selector">
                                            {{ form_row(roomSearchForm.guests_number) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4 class="visible-md visible-lg">&nbsp;</h4>
                                <label class="visible-md visible-lg">&nbsp;</label>
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ form_row(roomSearchForm.search_now) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ form_end(roomSearchForm) }}
                    <h2>Available Rooms</h2>
                    <div class="room-list listing-style3 hotel">
                        {% for room in hotel.availableRooms(checkin, checkout) %}
                            <article class="box">
                                <figure class="col-sm-4 col-md-3">
                                    <a class="hover-effect popup-gallery" href="{{ path('slideshow_popup') }}" title=""><img width="230" height="160" src="https://placehold.it/230x160" alt=""></a>
                                </figure>
                                <div class="details col-xs-12 col-sm-8 col-md-9">
                                    <div>
                                        <div>
                                            <div class="box-title">
                                                <h4 class="title">{{ room.title }}</h4>
                                                <dl class="description">
                                                    <dt>Max Guests:</dt>
                                                    <dd>{{ room.maxGuests }} persons</dd>
                                                </dl>
                                            </div>
                                            <div class="amenities">
                                                {% if hotel.hotelFacility.hasWifi %}<i class="soap-icon-wifi circle" title="WIFI"></i>{% endif %}
                                                {% if hotel.hotelFacility.hasFitness %}<i class="soap-icon-fitnessfacility circle" title="FITNESS"></i>{% endif %}
                                                {% if hotel.hotelFacility.hasPool %}<i class="soap-icon-swimming circle" title="SWIMMING POOL"></i></i>{% endif %}
                                                {% if hotel.hotelFacility.hasRestaurant %}<i class="soap-icon-fork circle" title="RESTAURANT"></i>{% endif %}
                                                {% if hotel.hotelFacility.hasTv %}<i class="soap-icon-television circle" title="TV"></i>{% endif %}
                                            </div>
                                        </div>
                                        <div class="price-section">
                                            <span class="price"><small>PER/NIGHT</small>${{ room.price }}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <p>{{ room.subtitle }}</p>
                                        <div class="action-section">
                                            <a href="{{ path('book_a_room', {'id': room.id}) }}?&{{ constant('App\\FormGenerator\\HotelSearchFormGenerator::DATE_FROM_FORM_FIELD') }}={{ checkin|url_encode }}&{{ constant('App\\FormGenerator\\HotelSearchFormGenerator::DATE_TO_FORM_FIELD') }}={{ checkout|url_encode }}" title="" class="button btn-small full-width text-center">BOOK NOW</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="hotel-reviews">
                    <div class="intro table-wrapper full-width hidden-table-sms">
                        <div class="rating table-cell col-sm-4">
                            <span class="score">{{ hotel.overallRating }}/5.0</span>
                            <div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallRating * 20 }}%;"></div></div>
                            <a href="#" class="goto-writereview-pane button green btn-small full-width">WRITE A REVIEW</a>
                        </div>
                        <div class="table-cell col-sm-8">
                            <div class="detailed-rating">
                                <ul class="clearfix">
                                    <li class="col-md-6"><div class="each-rating"><label>service</label><div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallServiceRating * 20 }}%;"></div></div></div></li>
                                    <li class="col-md-6"><div class="each-rating"><label>Value</label><div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallValueRating * 20 }}%;"></div></div></div></li>
                                    <li class="col-md-6"><div class="each-rating"><label>Sleep Quality</label><div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallSleepRating * 20 }}%;"></div></div></div></li>
                                    <li class="col-md-6"><div class="each-rating"><label>Cleanliness</label><div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallCleanlinessRating * 20 }}%;"></div></div></div></li>
                                    <li class="col-md-6"><div class="each-rating"><label>location</label><div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallLocationRating * 20 }}%;"></div></div></div></li>
                                    <li class="col-md-6"><div class="each-rating"><label>rooms</label><div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallRoomsRating * 20 }}%;"></div></div></div></li>
                                    <li class="col-md-6 {% if not hotel.hotelFacility.hasPool %}hidden{% endif %}"><div class="each-rating"><label>swimming pool</label><div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallPoolRating * 20 }}%;"></div></div></div></li>
                                    <li class="col-md-6 {% if not hotel.hotelFacility.hasFitness %}hidden{% endif %}"><div class="each-rating"><label>fitness facility</label><div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallFitnessRating * 20 }}%;"></div></div></div></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="guest-reviews">
                        <h2>Guest Reviews</h2>
                        {% for review in hotel.reviews %}
                            <div class="guest-review table-wrapper">
                                <div class="col-xs-3 col-md-2 author table-cell">
                                    <a href="#"><img src="{{ asset('images/tourists.png') }}" alt=""/></a>
                                    <p class="name">{{ review.reviewerName }}</p>
                                    <p class="date">{{ review.created|format_datetime }}</p>
                                </div>
                                <div class="col-xs-9 col-md-10 table-cell comment-container">
                                    <div class="comment-header clearfix">
                                        <h4 class="comment-title">{{ review.title }}</h4>
                                        <div class="review-score">
                                            <div class="five-stars-container"><div class="five-stars" style="width: {{ hotel.overallRating * 20 }}%;"></div></div>
                                            <span class="score">{{ review.overallRating }}/5.0</span>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        <p>{{ review.description }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="hotel-write-review">
                    <div class="main-rating table-wrapper full-width hidden-table-sms intro">
                        <article class="image-box box hotel listing-style1 photo table-cell col-sm-4">
                            <figure>
                                <img width="270" height="160" alt="" src="{{ asset(hotel.hotelPhotos.first.photoFilename) }}">
                            </figure>
                            <div class="details">
                                <h4 class="box-title">{{ hotel.name }}<small><i class="soap-icon-departure"></i> {{ hotel.city.name }}, {{ hotel.city.country.name }}</small></h4>
                                <div class="feedback">
                                    <div title="{{ hotel.overallRating|round }} stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: {{ hotel.overallRating * 20 }}%;"></span></div>
                                    <span class="review">{{ hotel.reviews|length }} reviews</span>
                                </div>
                            </div>
                        </article>
                        <div class="table-cell col-sm-8">
                            <div class="overall-rating">
                                <h4>Your overall Rating of this property</h4>
                                <div class="star-rating clearfix">
                                    <div class="five-stars-container"><div class="five-stars" style="width: 0%;"></div></div>
                                    <span class="status"></span>
                                </div>
                                <div class="detailed-rating">
                                    <ul class="clearfix">
                                        <li class="col-md-6"><div class="each-rating"><label>service</label><div class="five-stars-container editable-rating" data-original-stars="0"></div></div></li>
                                        <li class="col-md-6"><div class="each-rating"><label>Sleep Quality</label><div class="five-stars-container editable-rating" data-original-stars="0"></div></div></li>
                                        <li class="col-md-6"><div class="each-rating"><label>Cleanliness</label><div class="five-stars-container editable-rating" data-original-stars="0"></div></div></li>
                                        <li class="col-md-6"><div class="each-rating"><label>location</label><div class="five-stars-container editable-rating" data-original-stars="0"></div></div></li>
                                        <li class="col-md-6"><div class="each-rating"><label>rooms</label><div class="five-stars-container editable-rating" data-original-stars="0"></div></div></li>
                                        <li class="col-md-6"><div class="each-rating"><label>Value for money</label><div class="five-stars-container editable-rating" data-original-stars="0"></div></div></li>
                                        <li class="col-md-6 {% if not hotel.hotelFacility.hasPool %}hidden{% endif %}"><div class="each-rating"><label>swimming pool</label><div class="five-stars-container editable-rating" data-original-stars="0"></div></div></li>
                                        <li class="col-md-6 {% if not hotel.hotelFacility.hasFitness %}hidden{% endif %}"><div class="each-rating"><label>fitness facility</label><div class="five-stars-container editable-rating" data-original-stars="0"></div></div></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_start(reviewForm) }}
                        <div class="form-group col-md-5 no-float no-padding">
                            {{ form_row(reviewForm.reviewer_name) }}
                        </div>
                        <div class="form-group col-md-5 no-float no-padding">
                            {{ form_row(reviewForm.title) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(reviewForm.description) }}
                        </div>
                        <div class="form-group col-md-5 no-float no-padding no-margin">
                            {{ form_row(reviewForm.submit_review) }}
                        </div>
                    {{ form_end(reviewForm, {'render_rest': true}) }}

                </div>
            </div>
        </div>
    </div>
    <div class="sidebar col-md-3">
        <article class="detailed-logo">
            <figure>
                <img width="114" height="85" src="https://placehold.it/114x85" alt="">
            </figure>
            <div class="details">
                <h2 class="box-title">{{ hotel.name }}<small><i class="soap-icon-departure yellow-color"></i><span class="fourty-space">{{ hotel.city.name }}, {{ hotel.city.country.name }}</span></small></h2>
                <span class="price clearfix">
                                    <small class="pull-left">avg/night</small>
                                    <span class="pull-right">${{ hotel.averagePrice }}</span>
                                </span>
                <div class="feedback clearfix">
                    <div title="{{ hotel.overallRating|round }} stars" class="five-stars-container" data-toggle="tooltip" data-placement="bottom"><span class="five-stars" style="width: {{ hotel.overallRating * 20 }}%;"></span></div>
                    <span class="review pull-right">{{ hotel.reviews|length }} reviews</span>
                </div>
                <p class="description">{{ hotel.shortDescription }}</p>
                <a class="button yellow full-width uppercase btn-small">add to wishlist</a>
            </div>
        </article>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/calendar.js') }}"></script>
    <script type="text/javascript" src="{{ asset('components/flexslider/jquery.flexslider-min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script type="text/javascript">
        var acc_data = {"review_labels":{"4.75":"exceptional","4.5":"wonderful","4":"very good","3.5":"good","3":"pleasant","0":"disappointed"}};
    </script>
    <script type="text/javascript">
        tjq(document).ready(function() {
            abc();
            // init_write_review();
            tjq(".goto-writereview-pane").click(function(e) {
                e.preventDefault();
                tjq('#hotel-features .tabs a[href="#hotel-write-review"]').tab('show')
            });

            // editable rating

            var review_values = [];

            tjq(".editable-rating.five-stars-container").each(function() {
                var _index = tjq(".editable-rating.five-stars-container").index(this);
                var review_value = tjq(this).data("original-stars");
                if (typeof review_value == "undefined") {
                    review_value = 0;
                } else {
                    review_value = parseInt(review_value);
                }
                review_values[_index] = review_value;
                tjq(this).slider({
                    range: "min",
                    value: review_value,
                    min: 0,
                    max: 5,
                    slide: function(event, ui) {
                        var i = tjq(".editable-rating.five-stars-container").index(this);
                        review_values[i] = ui.value;
                        var total = 0;
                        tjq.each(review_values,function() {
                            total += this;
                        });
                        var _width = total / (review_values.length) / 5 * 100;
                        tjq('.star-rating .five-stars').width(_width.toString() + '%');

                        var review_marks = Object.keys(acc_data.review_labels);
                        review_marks.sort(function(a, b){return b-a});
                        tjq.each(review_marks, function(index, review_mark) {
                            if (review_mark < total / (review_values.length)) {
                                tjq('.star-rating .status').html(acc_data.review_labels[review_mark]);
                                tjq('.star-rating .status').fadeIn(300);
                                return false;
                            }
                        });

                        tjq('.{{ constant('App\\FormGenerator\\ReviewFormGenerator::RATING_FIELD_ID') }}8').val(total / (review_values.length));

                        tjq('.{{ constant('App\\FormGenerator\\ReviewFormGenerator::RATING_FIELD_ID') }}'+i).val(ui.value);
                        /**
                         * 0 - service
                         * 1 - sleep
                         * 2 - cleanliness
                         * 3 - location
                         * 4 - rooms
                         * 5 - value
                         * 6 - pool
                         * 7 - fitness
                         * 8 - overall
                         */
                    }
                });
            });
        });

        tjq('a[href="#map-tab"]').on('shown.bs.tab', function (e) {
            var center = panorama.getPosition();
            google.maps.event.trigger(map, "resize");
            map.setCenter(center);
        });
        tjq('a[href="#steet-view-tab"]').on('shown.bs.tab', function (e) {
            fenway = panorama.getPosition();
            panoramaOptions.position = fenway;
            panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
            map.setStreetView(panorama);
        });
        var map = null;
        var panorama = null;
        var fenway = new google.maps.LatLng({{ hotel.coordinates }});
        var mapOptions = {
            center: fenway,
            zoom: 12
        };
        var panoramaOptions = {
            position: fenway,
            pov: {
                heading: 34,
                pitch: 10
            }
        };
        function initialize() {
            tjq("#map-tab").height(tjq("#hotel-main-content").width() * 0.6);
            map = new google.maps.Map(document.getElementById('map-tab'), mapOptions);
            panorama = new google.maps.StreetViewPanorama(document.getElementById('steet-view-tab'), panoramaOptions);
            map.setStreetView(panorama);
        }
        google.maps.event.addDomListener(window, 'load', initialize);


        //init write a review tab

        var abc = function() {
            var hash = window.location.hash.substr(1);
            if(hash === 'hotel-availability') {
                var checkInDetailsTag = tjq("#checking_details");
                tjq('html,body').delay(1000).animate({scrollTop: checkInDetailsTag.offset().bottom},1000);
            }
        }
    </script>
{% endblock %}